/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #e9ecef;
    color: #333;
}



/* -----NAVBAR----- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 20px; /* Adjust padding as needed */
}

.navbar-title {
    color: white;
    font-size: 24px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin-right: 10px; /* Adjust spacing between links as needed */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px; /* Adjust padding as needed */
}

.navbar a:hover {
    background-color: #111;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 110%; /* Position the dropdown menu below the parent menu item */
    left: 0;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block; /* Show the dropdown menu only when the parent menu item is hovered over */
}

/* Adjustments for Dropdown Links */
.dropdown-menu a {
    color: white;
    padding: 10px 15px;
    display: block; /* Ensure each dropdown link appears as a block element */
    text-decoration: none; /* Remove underline from links */
}

.dropdown-menu a:hover {
    background-color: #111;
}

/* Hide dropdown menu by default */
.navbar ul ul {
    display: none;
}

/* Display dropdown menu when its parent is hovered over */
.navbar ul li:hover > ul {
    display: inherit;
}

/* --HERO IMAGE-- */

.hero {
    position: relative;
    width: 100%;
    height: 400px;
  }
  
.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}



/* BODY GENERAL CONTENT */
.container {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.zodiacgif {
    width: 25%;
}

.heading-bar {
    background: #007bff;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
}

h1 {
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}



/* FORM STYLING */

.form-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
  }

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input[type="date"],
button {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type=text], input[type=password], input[type=email], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

input[type="date"] {
    background: #f8f9fa;
}

button {
    background-color: #28a745;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}



/* -RESPONSIVE DESIGN- */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    .zodiacgif {
        width: 75%;
    }
}
